.ug.img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.col img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center; /* center horizontally */
}
.marquee{
  display: flex;
}
